/* CSS code */
body{background-color:#fdfcf0;}
#wrap{width:1000px;margin:0 auto;}
header{color:#222;}
header>h1{padding:50px 0 20px;font-size:16px;}
header>h1+p{font-weight:600;line-height:1.5;}

section{margin:20px 0;}
section>h2{display:none;}
section>.guide{padding:40px 0;border-top:1px solid #e1ddd3;border-bottom:1px solid #e1ddd3;}
section>.guide>p{margin-left:30px;}
section>.guide>p>strong{color:#764D25;font-size:13px;}
section>.guide>ul{margin:20px 0 0 30px;}
section>.guide>ul>li{line-height:1.6;}
section>.guide>ul>li>span{display:block;text-indent:12px;}

section>.contact{margin-top:20px;}
section>.contact>h3{margin-left:30px;font-size:13px;}
section>.contact>div{margin:20px 15px;padding:20px 0 5px 20px;border:1px solid #e1ddd3;}
section>.contact>div.last{padding:20px;}
section>.contact>div>ul>li{line-height:1.8;}
section>.contact p{font-weight:600;line-height:40px;}
/* 문맥(자손)선택자 중복되는 요소를 반드시 확인하여 신중하게 생략해야 된다.
.section>.contact>div>ul>li == .section>.contact li */
section>.contact>div.last>p{font-weight:400;line-height:20px;}
section>.contact>div.last.address{margin-top:2px;}


footer>p{overflow:hidden;width:160px;margin:0 auto;text-align:center;border:2px solid #7b7b7b;border-radius:5px;}
footer>p>a{display:block;line-height:25px;}
footer>p>a:hover{background-color:#ccc;}