@charset "utf-8";

#wrap{
    width: 650px;
    margin: 0 auto;
}

.smit_form{
    border-top: 2px solid #999;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

table{
    width: 100%;
}

table>tbody th{
    padding: 7px 15px 5px 0;
    color: #fff;
    line-height: 18px;
    letter-spacing: 1px;
    text-align: right;
    background-color: #333;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

table>tbody td{
    color: #666;
    padding: 6px 18px 6px 10px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

table input{
    height: 28px;
    outline: none;
}


table input[type="text"],
table input[type="password"],
table select{
    padding-left: 5px;
    color: #666666;
    line-height: 28px;
    border: 1px solid #666;
    vertical-align: middle;
}

table input[type="password"]{font-size: 1.5em;}

table input[name="username"],
table input[name="userid"],
table input[name="userpwd"]{
    width: 175px;
}

table input[type="radio"],
table input[type="checkbox"]{
    width: 13px;
    margin-top: 5px;
    margin-right: 5px;
    vertical-align: top;
}

table input[type="radio"]+span,
table input[type="checkbox"]+span{
    display: inline-block;
    width: 30px;
}

table .ment{margin-left: 12px;}

table select{
    display: inline-block;
    width: 100px;
    height: 30px;
}

table input[name="email_id"]{
    width: 150px;
}

table input[name="email_domain"]{
    width: 150px;
    margin-left: 2px;
    text-align: center;
}

table textarea{
    width: 100%;
    height: 100%;
    padding-left: 5px;
    color: #666;
    border: 1px solid #666;
}


.btn_container{
    margin: 20px 0;
    text-align: center;
}

.btn_container>button{
    background: none;
    border: none;
    outline: none;

    display: inline-block;
    width: 80px;
    height: 35px;
    color: #fff;
    font-weight: 800;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}

.btn_container>button:first-child{
    background-color: #c00;
}

.btn_container>button:last-child{
    background-color: #ccc;
}