/* CSS reset */
html,body{width:100%;height:100%;}
html,body,div,h1,h2,h3,p,strong,ul,ol,li,dl,dt,dd,a,address{margin:0;padding:0;}
dl,ul,li{list-style:none;}
hr{display:none;}
em,address{font-style:normal;font-weight:400;}
a:link,a:visited,a:hover,a:active{color:#222;text-decoration:none;}        
body{font-size:13px;line-height:1.3;font-family:돋움,굴림;}