@charset "utf-8";

*{margin:0;padding:0;}
ol,ul,li{list-style-type: none;}
a:link,a:visited,a:hover,a:active{color:#333;text-decoration: none;}
body{color:#333;font-family: roboto;font-size: 16px;background-color: #fff;}

.sr-only{position:absolute;left:-9999px;}
.clear{*zoom:1;}
.clear:after{display:block;clear:both;content:""}

#wrap{
    width:1200px;margin:0 auto;
    outline: 1px solid red;
}

header{
    height:100px;
    position:relative;
}
.gnb{width:500px;height:60px;position:absolute;right:40px;top:20px;z-index:100;}
.gnb>li{float:left;width:100px;}
.gnb>li>a{display: block;height:60px;}
.gnb>li>.lnb{display: none;}



section{
    position: relative;width:100%;overflow:hidden;
    height: 300px;
}
section>.slide{position:absolute;left:0;top:0;width:3600px;}
section>.slide>li{float:left;}
section>.slide>li>a>img{display: block;}



article{
    height:300px;
}
article>div{float:left;width:40%}
.banner{width:20%;}
.gallery>ul>li{float:left;width:30%;}

footer{
    height:40px;
}