@charset "UTF-8";
@import url(./reset.css), url(./header_footer.css);

#wrap {
  width: 100%;
  margin: 0 auto;
  > section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 1000px;
    margin: 163px auto 80px;
    > .body {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 500px;
      > h2 {
        margin-bottom: 40px;
        color: #444;
        font-weight: 500;
        font-size: 40px;
      }
      > img {
        display: block;
        width: auto;
        height: calc(219px * 1.1);
        margin-bottom: 32px;
      }

      > .download {
        margin-bottom: 40px;
        > a {
          display: inline-Block;
          width: 201px;
          height: 55px;
          text-indent: -9999px;
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
      } //end of .download
      &:first-child > .download > a {
        &:first-child {
          margin-right: 10px;
          background-image: url(../images/line_download_btn_1.png);
        }
        &:last-child {
          background-image: url(../images/line_download_btn_2.png);
        }
      }
      &:last-child > .download > a {
        background-image: url(../images/line_download_btn_3.png);
      }

      > .icon {
        > li {
          float: left;
          opacity: 0.6;
          &:hover {
            opacity: 1;
          }

          > a {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100px;
            height: 90px;
            color: #6f6f6f;
            font-weight: 500;
            font-size: 13px;
            &:before {
              display: block;
              width: 51px;
              height: 48px;
              background-repeat: no-repeat;
              content: "";
            }
          }
        } //end of li
      } //end of .icon
      &:first-child > .icon > li:first-child > a:before {
        background-image: url(../images/line_download_icon_1.png);
        background-position: 6.5px 3.5px;
      }
      &:first-child > .icon > li:last-child > a:before {
        background-image: url(../images/line_download_icon_2.png);
        background-position: 7.5px 4.5px;
      }
      &:last-child > .icon > li:nth-child(1) > a:before {
        background-image: url(../images/line_download_icon_3.png);
        background-position: 4.5px 0;
      }
      &:last-child > .icon > li:nth-child(2) > a:before {
        background-image: url(../images/line_download_icon_4.png);
        background-position: 0 3px;
      }
      &:last-child > .icon > li:nth-child(3) > a:before {
        background-image: url(../images/line_download_icon_5.png);
        background-position: 6.5px 5px;
      }
      .underline {
        margin: 16px auto 80px;
        > a {
          color: #6f6f6f;
          font-weight: 500;
          font-size: 13px;
          border-bottom: 1px solid #6f6f6f;
        }
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }
    } //end of .body
  } //end of .section
}
